/* Este arquivo importa os estilos do Leaflet como módulo CSS */
@import '../../node_modules/leaflet/dist/leaflet.css';

/* Classes adicionais para personalização do mapa, se necessário */
.mapContainer {
    width: 100%;
    height: 400px;
    z-index: 1;
}